<%#
 Copyright 2013-2024 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<div>
    <h2 id="page-heading" data-cy="<%= entityClass %>Heading">
        <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.title')</span>

        <div class="d-flex justify-content-end">
<%_ if (databaseTypeCassandra && paginationNo) { _%>
            <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
                <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
                <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.refreshListLabel')</span>
            </button>
<%_ } else { _%>
            <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
                <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
                <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.refreshListLabel')</span>
            </button>
<%_ } _%>
            <%_ if (!readOnly) { _%>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-<%= entityUrl %>" [routerLink]="['/<%= entityPage %>/new']">
                <fa-icon icon="plus"></fa-icon>
                <span <% if (searchEngineAny) { %>class="hidden-sm-down" <% } %>>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.createLabel')</span>
            </button>
            <%_ } _%>
        </div>
    </h2>

    <<%= jhiPrefixDashed %>-alert-error></<%= jhiPrefixDashed %>-alert-error>

    <<%= jhiPrefixDashed %>-alert></<%= jhiPrefixDashed %>-alert>
<%_ if (databaseTypeCassandra && primaryKeySaathratri.composite) {
    const partitionKeyFields = fields.filter(f => f.isPartitionedKeySaathratri);
    const clusteringKeyFields = fields.filter(f => f.isClusteredKeySaathratri);
    // Find clustering key fields that support comparison operators (date/datetime/numeric Long types)
    const clusteringDateTimeFields = clusteringKeyFields.filter(f =>
        f.fieldTypeTimedSaathratri || f.fieldTypeLocalDateSaathratri ||
        (f.fieldType === 'Long' && !f.fieldTypeTimedSaathratri && !f.fieldTypeLocalDateSaathratri)
    );
_%>

    <!-- Cassandra Search Form -->
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center"
             (click)="toggleSearchForm()"
             style="cursor: pointer;"
             data-cy="searchFormToggle">
            <span>
                <fa-icon [icon]="isSearchFormCollapsed ? 'chevron-right' : 'chevron-down'" class="me-2"></fa-icon>
                <fa-icon icon="search" class="me-1"></fa-icon>
                <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.search')</span>
            </span>
            @if (hasActiveSearch()) {
                <span class="badge bg-primary">__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.searchActive')</span>
            }
        </div>
        @if (!isSearchFormCollapsed) {
            <div class="card-body">
                <form name="searchForm" (ngSubmit)="performSearch()" #searchForm="ngForm">
                    <!-- Partition Key Fields (Required) -->
                    <div class="mb-3">
                        <h6 class="text-muted mb-2">
                            <fa-icon icon="key" class="me-1"></fa-icon>
                            <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.partitionKeys')</span>
                            <span class="text-danger">*</span>
                        </h6>
                        <div class="row">
<%_ for (const field of partitionKeyFields) { _%>
    <%_ if (field.fieldTypeTimedSaathratri) { _%>
                            <div class="col-md-6 mb-2">
                                <label class="form-label" for="search_<%= field.fieldName %>">__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</label>
                                <div class="date-time-search-container">
                                    <mat-form-field appearance="outline" class="search-date-field">
                                        <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.selectDate')</mat-label>
                                        <input matInput
                                               [matDatepicker]="search<%= field.fieldNameCapitalized %>DatePicker"
                                               [(ngModel)]="searchCriteria.<%= field.fieldName %>Date"
                                               name="search_<%= field.fieldName %>_date"
                                               (dateChange)="onSearchDateChange('<%= field.fieldName %>', true)"
                                               data-cy="search<%= field.fieldNameCapitalized %>Date">
                                        <mat-datepicker-toggle matSuffix [for]="search<%= field.fieldNameCapitalized %>DatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #search<%= field.fieldNameCapitalized %>DatePicker></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="search-time-field">
                                        <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.hour')</mat-label>
                                        <input matInput type="number"
                                               [(ngModel)]="searchCriteria.<%= field.fieldName %>Hour"
                                               name="search_<%= field.fieldName %>_hour"
                                               min="1" max="12"
                                               placeholder="HH"
                                               (change)="onSearchDateChange('<%= field.fieldName %>', true)"
                                               data-cy="search<%= field.fieldNameCapitalized %>Hour">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="search-time-field">
                                        <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.minute')</mat-label>
                                        <input matInput type="number"
                                               [(ngModel)]="searchCriteria.<%= field.fieldName %>Minute"
                                               name="search_<%= field.fieldName %>_minute"
                                               min="0" max="59"
                                               placeholder="MM"
                                               (change)="onSearchDateChange('<%= field.fieldName %>', true)"
                                               data-cy="search<%= field.fieldNameCapitalized %>Minute">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="search-ampm-field">
                                        <mat-label>AM/PM</mat-label>
                                        <mat-select [(ngModel)]="searchCriteria.<%= field.fieldName %>AmPm"
                                                    name="search_<%= field.fieldName %>_ampm"
                                                    (selectionChange)="onSearchDateChange('<%= field.fieldName %>', true)"
                                                    data-cy="search<%= field.fieldNameCapitalized %>AmPm">
                                            <mat-option value="AM">AM</mat-option>
                                            <mat-option value="PM">PM</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
    <%_ } else if (field.fieldTypeLocalDateSaathratri) { _%>
                            <div class="col-md-4 mb-2">
                                <label class="form-label" for="search_<%= field.fieldName %>">__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</label>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.selectDate')</mat-label>
                                    <input matInput
                                           [matDatepicker]="search<%= field.fieldNameCapitalized %>Picker"
                                           [(ngModel)]="searchCriteria.<%= field.fieldName %>Date"
                                           name="search_<%= field.fieldName %>"
                                           (dateChange)="onSearchDateChange('<%= field.fieldName %>')"
                                           required
                                           data-cy="search<%= field.fieldNameCapitalized %>">
                                    <mat-datepicker-toggle matSuffix [for]="search<%= field.fieldNameCapitalized %>Picker"></mat-datepicker-toggle>
                                    <mat-datepicker #search<%= field.fieldNameCapitalized %>Picker></mat-datepicker>
                                </mat-form-field>
                            </div>
    <%_ } else if (field.fieldType === 'Boolean') { _%>
                            <div class="col-md-4 mb-2">
                                <label class="form-label" for="search_<%= field.fieldName %>">__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</label>
                                <select class="form-control"
                                        id="search_<%= field.fieldName %>"
                                        name="search_<%= field.fieldName %>"
                                        [(ngModel)]="searchCriteria.<%= field.fieldName %>"
                                        required
                                        data-cy="search<%= field.fieldNameCapitalized %>">
                                    <option [ngValue]="null">-- Select --</option>
                                    <option [ngValue]="true">Yes</option>
                                    <option [ngValue]="false">No</option>
                                </select>
                            </div>
    <%_ } else if (field.fieldTypeNumeric) { _%>
                            <div class="col-md-4 mb-2">
                                <label class="form-label" for="search_<%= field.fieldName %>">__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</label>
                                <input type="number"
                                       class="form-control"
                                       id="search_<%= field.fieldName %>"
                                       name="search_<%= field.fieldName %>"
                                       [(ngModel)]="searchCriteria.<%= field.fieldName %>"
                                       required
                                       data-cy="search<%= field.fieldNameCapitalized %>">
                            </div>
    <%_ } else { _%>
                            <div class="col-md-4 mb-2">
                                <label class="form-label" for="search_<%= field.fieldName %>">__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</label>
                                <input type="text"
                                       class="form-control"
                                       id="search_<%= field.fieldName %>"
                                       name="search_<%= field.fieldName %>"
                                       [(ngModel)]="searchCriteria.<%= field.fieldName %>"
                                       required
                                       data-cy="search<%= field.fieldNameCapitalized %>">
                            </div>
    <%_ } _%>
<%_ } _%>
                        </div>
                    </div>

<%_ if (clusteringKeyFields.length > 0) { _%>
                    <!-- Clustering Key Fields (Optional) -->
                    <div class="mb-3">
                        <h6 class="text-muted mb-2">
                            <fa-icon icon="sort" class="me-1"></fa-icon>
                            <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.clusteringKeys')</span>
                            <span class="text-muted small">(<span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.optional')</span>)</span>
                        </h6>
                        <div class="row">
    <%_ for (const field of clusteringKeyFields) { _%>
        <%_ if (field.fieldTypeTimedSaathratri) { _%>
                            <div class="col-md-8 mb-2">
                                <label class="form-label" for="search_<%= field.fieldName %>" [class.text-muted]="isClusteringFieldDisabled('<%= field.fieldName %>')">__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</label>
                                <div class="date-time-search-container">
                                    <!-- Comparison Operator Dropdown -->
                                    <mat-form-field appearance="outline" class="search-operator-field">
                                        <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.operator')</mat-label>
                                        <mat-select [(ngModel)]="searchCriteria.<%= field.fieldName %>Operator"
                                                    name="search_<%= field.fieldName %>_operator"
                                                    [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                                    (selectionChange)="onOperatorChange('<%= field.fieldName %>')"
                                                    data-cy="search<%= field.fieldNameCapitalized %>Operator">
                                            <mat-option value="eq">=</mat-option>
                                            <mat-option value="lt">&lt;</mat-option>
                                            <mat-option value="lte">&lt;=</mat-option>
                                            <mat-option value="gt">&gt;</mat-option>
                                            <mat-option value="gte">&gt;=</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="search-date-field">
                                        <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.selectDate')</mat-label>
                                        <input matInput
                                               [matDatepicker]="search<%= field.fieldNameCapitalized %>DatePicker"
                                               [(ngModel)]="searchCriteria.<%= field.fieldName %>Date"
                                               name="search_<%= field.fieldName %>_date"
                                               [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                               (dateChange)="onSearchDateChange('<%= field.fieldName %>', true)"
                                               data-cy="search<%= field.fieldNameCapitalized %>Date">
                                        <mat-datepicker-toggle matSuffix [for]="search<%= field.fieldNameCapitalized %>DatePicker" [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"></mat-datepicker-toggle>
                                        <mat-datepicker #search<%= field.fieldNameCapitalized %>DatePicker></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="search-time-field">
                                        <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.hour')</mat-label>
                                        <input matInput type="number"
                                               [(ngModel)]="searchCriteria.<%= field.fieldName %>Hour"
                                               name="search_<%= field.fieldName %>_hour"
                                               min="1" max="12"
                                               placeholder="HH"
                                               [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                               (change)="onSearchDateChange('<%= field.fieldName %>', true)"
                                               data-cy="search<%= field.fieldNameCapitalized %>Hour">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="search-time-field">
                                        <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.minute')</mat-label>
                                        <input matInput type="number"
                                               [(ngModel)]="searchCriteria.<%= field.fieldName %>Minute"
                                               name="search_<%= field.fieldName %>_minute"
                                               min="0" max="59"
                                               placeholder="MM"
                                               [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                               (change)="onSearchDateChange('<%= field.fieldName %>', true)"
                                               data-cy="search<%= field.fieldNameCapitalized %>Minute">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="search-ampm-field">
                                        <mat-label>AM/PM</mat-label>
                                        <mat-select [(ngModel)]="searchCriteria.<%= field.fieldName %>AmPm"
                                                    name="search_<%= field.fieldName %>_ampm"
                                                    [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                                    (selectionChange)="onSearchDateChange('<%= field.fieldName %>', true)"
                                                    data-cy="search<%= field.fieldNameCapitalized %>AmPm">
                                            <mat-option value="AM">AM</mat-option>
                                            <mat-option value="PM">PM</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
        <%_ } else if (field.fieldTypeLocalDateSaathratri) { _%>
                            <div class="col-md-6 mb-2">
                                <label class="form-label" for="search_<%= field.fieldName %>" [class.text-muted]="isClusteringFieldDisabled('<%= field.fieldName %>')">__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</label>
                                <div class="d-flex gap-2">
                                    <!-- Comparison Operator Dropdown -->
                                    <mat-form-field appearance="outline" class="search-operator-field">
                                        <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.operator')</mat-label>
                                        <mat-select [(ngModel)]="searchCriteria.<%= field.fieldName %>Operator"
                                                    name="search_<%= field.fieldName %>_operator"
                                                    [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                                    (selectionChange)="onOperatorChange('<%= field.fieldName %>')"
                                                    data-cy="search<%= field.fieldNameCapitalized %>Operator">
                                            <mat-option value="eq">=</mat-option>
                                            <mat-option value="lt">&lt;</mat-option>
                                            <mat-option value="lte">&lt;=</mat-option>
                                            <mat-option value="gt">&gt;</mat-option>
                                            <mat-option value="gte">&gt;=</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="flex-grow-1">
                                        <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.selectDate')</mat-label>
                                        <input matInput
                                               [matDatepicker]="search<%= field.fieldNameCapitalized %>Picker"
                                               [(ngModel)]="searchCriteria.<%= field.fieldName %>Date"
                                               name="search_<%= field.fieldName %>"
                                               [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                               (dateChange)="onSearchDateChange('<%= field.fieldName %>')"
                                               data-cy="search<%= field.fieldNameCapitalized %>">
                                        <mat-datepicker-toggle matSuffix [for]="search<%= field.fieldNameCapitalized %>Picker" [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"></mat-datepicker-toggle>
                                        <mat-datepicker #search<%= field.fieldNameCapitalized %>Picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
        <%_ } else if (field.fieldType === 'Boolean') { _%>
                            <div class="col-md-4 mb-2">
                                <label class="form-label" for="search_<%= field.fieldName %>" [class.text-muted]="isClusteringFieldDisabled('<%= field.fieldName %>')">__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</label>
                                <select class="form-control"
                                        id="search_<%= field.fieldName %>"
                                        name="search_<%= field.fieldName %>"
                                        [(ngModel)]="searchCriteria.<%= field.fieldName %>"
                                        [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                        data-cy="search<%= field.fieldNameCapitalized %>">
                                    <option [ngValue]="null">-- Select --</option>
                                    <option [ngValue]="true">Yes</option>
                                    <option [ngValue]="false">No</option>
                                </select>
                            </div>
        <%_ } else if (field.fieldTypeNumeric || field.fieldType === 'Long') { _%>
                            <div class="col-md-6 mb-2">
                                <label class="form-label" for="search_<%= field.fieldName %>" [class.text-muted]="isClusteringFieldDisabled('<%= field.fieldName %>')">__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</label>
                                <div class="d-flex gap-2">
                                    <!-- Comparison Operator Dropdown for Long/numeric clustering keys -->
                                    <mat-form-field appearance="outline" class="search-operator-field">
                                        <mat-label>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.operator')</mat-label>
                                        <mat-select [(ngModel)]="searchCriteria.<%= field.fieldName %>Operator"
                                                    name="search_<%= field.fieldName %>_operator"
                                                    [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                                    (selectionChange)="onOperatorChange('<%= field.fieldName %>')"
                                                    data-cy="search<%= field.fieldNameCapitalized %>Operator">
                                            <mat-option value="eq">=</mat-option>
                                            <mat-option value="lt">&lt;</mat-option>
                                            <mat-option value="lte">&lt;=</mat-option>
                                            <mat-option value="gt">&gt;</mat-option>
                                            <mat-option value="gte">&gt;=</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <input type="number"
                                           class="form-control flex-grow-1"
                                           id="search_<%= field.fieldName %>"
                                           name="search_<%= field.fieldName %>"
                                           [(ngModel)]="searchCriteria.<%= field.fieldName %>"
                                           [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                           data-cy="search<%= field.fieldNameCapitalized %>">
                                </div>
                            </div>
        <%_ } else { _%>
                            <div class="col-md-4 mb-2">
                                <label class="form-label" for="search_<%= field.fieldName %>" [class.text-muted]="isClusteringFieldDisabled('<%= field.fieldName %>')">__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</label>
                                <input type="text"
                                       class="form-control"
                                       id="search_<%= field.fieldName %>"
                                       name="search_<%= field.fieldName %>"
                                       [(ngModel)]="searchCriteria.<%= field.fieldName %>"
                                       [disabled]="isClusteringFieldDisabled('<%= field.fieldName %>')"
                                       data-cy="search<%= field.fieldNameCapitalized %>">
                            </div>
        <%_ } _%>
    <%_ } _%>
                        </div>
                    </div>
<%_ } _%>

                    <!-- Search Actions -->
                    <div class="d-flex gap-2">
                        <button type="submit"
                                class="btn btn-primary"
                                [disabled]="!isSearchFormValid()"
                                data-cy="searchButton">
                            <fa-icon icon="search"></fa-icon>
                            <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.searchButton')</span>
                        </button>
                        <button type="button"
                                class="btn btn-secondary"
                                (click)="clearSearch()"
                                data-cy="clearSearchButton">
                            <fa-icon icon="times"></fa-icon>
                            <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.clearSearch')</span>
                        </button>
                    </div>
                </form>
            </div>
        }
    </div>
<%_ } _%>
<%_ if (searchEngineAny) { _%>

    <form name="searchForm" class="row row-cols-sm-auto align-items-center">
        <div class="col-sm-12">
            <div class="input-group w-100 mt-3">
                <label class="visually-hidden" for="currentSearch">__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.search')</label>
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="__jhiTranslatePipe__('<%= i18nKeyPrefix %>.home.search')">

                <button class="btn btn-info" (click)="search(currentSearch)">
                    <fa-icon icon="search"></fa-icon>
                </button>

            @if (currentSearch) {
                <button class="btn btn-danger" (click)="search('')">
                    <fa-icon icon="trash-alt"></fa-icon>
                </button>
            }
            </div>
        </div>
    </form>
<%_ } _%>

<%_ if (jpaMetamodelFiltering && paginationPagination) { _%>
    <<%= jhiPrefixDashed %>-filter [filters]="filters"></<%= jhiPrefixDashed %>-filter>
<%_ } _%>

<%_ if (databaseTypeCassandra && primaryKeySaathratri.composite) { _%>
@if (<%= entityInstancePlural %>?.length === 0 && !isLoading) {
    <div class="alert alert-warning" id="no-result">
        <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.notFound')</span>
    </div>
}
<%_ } else { _%>
@if (<%= entityInstancePlural %>?.length === 0) {
    <div class="alert alert-warning" id="no-result">
        <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.notFound')</span>
    </div>
}
<%_ } _%>

@if (<%= entityInstancePlural %> && <%= entityInstancePlural %>.length > 0) {
<%_ if (paginationInfiniteScroll) { _%>
    <div class="table-responsive table-entities" id="entities" #scrollContainer (scroll)="onScroll($event)" style="max-height: calc(100vh - 320px); overflow-y: auto;">
<%_ } else { _%>
    <div class="table-responsive table-entities" id="entities">
<%_ } _%>
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr <%= jhiPrefix %>Sort [sortState]="sortState()" (sortChange)="navigateToWithComponentValues($event)">
<%_ for (const field of fields.filter(field => !field.hidden  && ((primaryKeySaathratri.composite && field.fieldName !== 'id') || !primaryKeySaathratri.composite))) { _%>
                    <th scope="col" <%= jhiPrefix %>SortBy="<%= field.fieldName %>">
                        <div class="d-flex">
                            <span>__jhiTranslateTag__('<%- field.fieldTranslationKey %>')</span>
  <%_ if (!field.transient) { _%>
                        <% if (searchEngineAny && !field.fieldTypeBoolean && !field.fieldTypeNumeric && !field.fieldTypeTemporal) { %>@if (!currentSearch) {<% } %>
                            <fa-icon class="p-1" icon="sort"></fa-icon>
                        <% if (searchEngineAny && !field.fieldTypeBoolean && !field.fieldTypeNumeric && !field.fieldTypeTemporal) { %>}<% } %>
  <%_ } _%>
                        </div>
                    </th>
<%_ } _%>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody<% if (paginationInfiniteScroll) { %> infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0"<% } %>>
            <%_ if(primaryKeySaathratri.composite) { _%>
            @for (<%= entityInstance %> of <%= entityInstancePlural %>; track track<%= primaryKeySaathratri.nameCapitalized %>) {
            <%_ } else { _%>
            @for (<%= entityInstance %> of <%= entityInstancePlural %>; track track<%= primaryKey.nameCapitalized %>) {
            <%_ } _%>
                <tr data-cy="entityTable">
<%_
   // Saathratri Modification

    var routerLink = '';
    // Composite Primary Key Code
    if (primaryKeySaathratri.composite) { 
        routerLink = ` [routerLink]="['/${entityPage}', ${getCompositePrimaryKeyClientListRouterLink(entityInstance, primaryKeySaathratri)}, 'view']"`;
    // Single-value Primary Key Code
    } else { 
        routerLink = ` [routerLink]="['/${entityPage}', ${entityInstance}.${primaryKey.name}, 'view']"`;
    }
//const routerLink = ` [routerLink]="['/${ entityPage }', ${entityInstance}.${primaryKey.name}, 'view']"`; 
  // End of Saathratri Modification
for (field of fields.filter(field => !field.hidden && ((primaryKeySaathratri.composite && field.fieldName !== 'id') || !primaryKeySaathratri.composite))) {
    const fieldName = field.fieldName;
    const fieldType = field.fieldType;
_%>
    <%_ if (field.fieldTypeBinary && field.blobContentTypeImage) { _%>
                    <td>
                    @if (<%= entityInstance %>.<%= fieldName %>) {
                        <a (click)="openFile(<%= entityInstance %>.<%= fieldName %>, <%= entityInstance %>.<%= fieldName %>ContentType)">
                            <img [src]="'data:' + <%= entityInstance %>.<%= fieldName %>ContentType + ';base64,' + <%= entityInstance %>.<%= fieldName %>" style="max-height: 30px;" alt="<%= entityInstance %>"/>
                        </a>
                        <span>{{ <%= entityInstance %>.<%= fieldName %>ContentType }}, {{ byteSize(<%= entityInstance %>.<%= fieldName %>) }}</span>
                    }
                    </td>
    <%_ } else if (field.fieldTypeBinary && field.blobContentTypeAny) { _%>
                    <td>
                    @if (<%= entityInstance %>.<%= fieldName %>) {
                        <a (click)="openFile(<%= entityInstance %>.<%= fieldName %>, <%= entityInstance %>.<%= fieldName %>ContentType)">__jhiTranslateTag__('entity.action.open')</a>
                        <span>{{ <%= entityInstance %>.<%= fieldName %>ContentType }}, {{ byteSize(<%= entityInstance %>.<%= fieldName %>) }}</span>
                    }
                    </td>
    <%_ } else if (field.fieldIsEnum) { _%>
                    <%# TODO: import enum and use its key as label _%>
                    <td<% if (field.id) { %>><a<%- routerLink %><% } %>>__jhiTranslateTagEnum__('<%= frontendAppName %>.<%= fieldType %>', { "value": "<%= entityInstance %>.<%= fieldName %> ?? 'null'" })<% if (field.id) { %></a><% } %></td>
    <%_ } else if (field.fieldTypeSetSaathratri) { 
            // Composite Primary Key Code
    _%>
            <td>
                <dl *ngIf="<%= entityInstance %>.<%= fieldName %>">
                    <div *ngFor="let tag of toArray(<%= entityInstance %>.<%= fieldName %>)">
                        <dt>{{ tag }}</dt>
                    </div>
                </dl>
            </td>
    <%_ } else if (field.fieldTypeMapSaathratri) { 
            // Composite Primary Key Code
    _%>
            <td>
                <div *ngFor="let item of <%= entityInstance %>.<%= fieldName %> | keyvalue">
                  <dt>{{ item.key }}</dt>
                  <dd>
                    <td>{{ item.value <%_ if(field.fieldTypeMapDayjsSaathratri) { _%> | formatMediumDatetime<%_ } _%>}}</td>
                  </dd>
                </div>
            </td>
    <%_ } else if (primaryKeySaathratri.composite && !field.isCompositePrimaryKeyField && field.fieldTypeTimedSaathratri) { 
                    // Composite Primary Key Code
	_%>
    		    	<td>{{ <%= entityInstance %>.<%= fieldName %> | formatMediumDatetime }}</td>
    <%_ } else if (primaryKeySaathratri.composite && !field.isCompositePrimaryKeyField && field.fieldTypeLocalDateSaathratri) {
                    // Composite Primary Key Code - UTC_DATE field (no timezone shift)
    _%>
    		    	<td>{{ <%= entityInstance %>.<%= fieldName %> | formatUtcDate }}</td>
    <%_ } else if (field.fieldTypeTimed) { _%>
                    <td>{{ <%= entityInstance %>.<%= fieldName %> | formatMediumDatetime }}</td>
    <%_ } else if (field.fieldTypeLocalDate) { _%>
                    <td>{{ <%= entityInstance %>.<%= fieldName %> }}</td>
    <%_ } else if (field.fieldTypeDuration) { _%>
                    <td title="{{ <%= entityInstance %>.<%= fieldName %> }}">{{ <%= entityInstance %>.<%= fieldName %> | duration }}</td>
    <%_ } else { _%>
                    <%_
                        // Saathratri: Composite Primary Key Code
                        if (primaryKeySaathratri.composite && field.isCompositePrimaryKeyField) {
			                if(field.fieldTypeLocalDate) {
		            _%>
                            <td>{{ <%= entityInstance %>!.<%= primaryKeySaathratri.name %>.<%= fieldName %> | formatMediumDate }}</td>
                        <%_
                            } else if(field.fieldTypeLocalDateSaathratri) {
                                // UTC_DATE field - no timezone shift
		            _%>
                            <td>{{ <%= entityInstance %>!.<%= primaryKeySaathratri.name %>.<%= fieldName %> | formatUtcDate }}</td>
                        <%_
                            } else if(field.fieldTypeTimed || field.fieldTypeTimedSaathratri) { 
                        _%>
                            <td>{{ <%= entityInstance %>!.<%= primaryKeySaathratri.name %>.<%= fieldName %> | formatMediumDatetime }}</td>
                        <%_ 
                            } else { 
                        _%>
			                <td>{{ <%= entityInstance %>!.<%= primaryKeySaathratri.name %>.<%= fieldName %> }}</td>
 			            <%_ 
                            } 
                        %>
                    <%_ 
                        // Saathratri: Single-value Primary Key Code
                        } else { 
                    _%>
                    <td<% if (field.id) { %>><a<%- routerLink %><% } %>>{{ <%= entityInstance %>.<%= fieldName %> }}<% if (field.id) { %></a><% } %></td>
                    <%_ 
		            } 
			    // Saathratri 
		    _%>
    <%_ } _%>
<%_ } _%>
                    <td class="text-end">
                        <div class="btn-group">
                    <%_ 
                        // Saathratri: Composite Primary Key Code
                        if (primaryKeySaathratri.composite) { 
                    _%>
		    	    <a [routerLink]="['/<%= entityPage %>', <%= getCompositePrimaryKeyClientListRouterLink(entityInstance, primaryKeySaathratri) %>, 'view']"
                               class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">__jhiTranslateTag__('entity.action.view')</span>
                            </a>
                    <%_ 
                        // Saathratri: Single-value Primary Key Code
                        } else { 
                    _%>
                            <a [routerLink]="['/<%= entityPage %>', <%= entityInstance %>.<%= primaryKey.name %>, 'view']"
                               class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">__jhiTranslateTag__('entity.action.view')</span>
                            </a>
		    <%_ 
		    	} 
		    	// Saathratri 
		    _%>
<%_ if (!readOnly && updatableEntity) { _%>
                    <%_ 
                        // Saathratri: Composite Primary Key Code
                        if (primaryKeySaathratri.composite) { 
                    _%>
                            <a [routerLink]="['/<%= entityPage %>', <%= getCompositePrimaryKeyClientListRouterLink(entityInstance, primaryKeySaathratri) %>, 'edit']"
                               class="btn btn-primary btn-sm" data-cy="entityEditButton">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">__jhiTranslateTag__('entity.action.edit')</span>
                            </a>
                    <%_ 
                        // Saathratri: Single-value Primary Key Code
                        } else { 
                    _%>
                            <a [routerLink]="['/<%= entityPage %>', <%= entityInstance %>.<%= primaryKey.name %>, 'edit']"
                               class="btn btn-primary btn-sm" data-cy="entityEditButton">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">__jhiTranslateTag__('entity.action.edit')</span>
                            </a>
		    <%_ 
		    	} 
		    	// Saathratri 
		    _%>
<%_ } _%>
<%_ if (!readOnly) { _%>

                            <button type="submit" (click)="delete(<%= entityInstance %>)"
                                    class="btn btn-danger btn-sm"
                                    data-cy="entityDeleteButton">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">__jhiTranslateTag__('entity.action.delete')</span>
                            </button>
<%_ } _%>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
<%_ if (paginationInfiniteScroll) { _%>

        <!-- Loading More Indicator (Infinite Scroll) -->
        @if (isLoadingMore) {
            <div class="d-flex justify-content-center align-items-center p-3">
                <div class="spinner-border spinner-border-sm me-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <span class="text-muted">__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.loadingMore')</span>
            </div>
        }

        <!-- End of List Indicator -->
        @if (!isLoadingMore && !hasMorePage() && <%= entityInstancePlural %> && <%= entityInstancePlural %>.length > 0) {
            <div class="d-flex justify-content-center align-items-center p-3 text-muted">
                <fa-icon icon="check-circle" class="me-2"></fa-icon>
                <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.endOfList')</span>
            </div>
        }
<%_ } _%>
<%_ if (databaseTypeCassandra && paginationNo) { _%>
        <div class="d-flex justify-content-center mt-3 mb-3">
            @if (hasNextPage && !isLoadingMore) {
                <button class="btn btn-primary d-none" (click)="loadMore()" [disabled]="isLoadingMore">
                    <fa-icon icon="sync"></fa-icon>
                    <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.loadMore')</span>
                </button>
            }
            @if (isLoadingMore) {
                <button class="btn btn-primary" disabled>
                    <fa-icon icon="sync" [animation]="'spin'"></fa-icon>
                    <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.loadingMore')</span>
                </button>
            }
            @if (!hasNextPage && <%= entityInstancePlural %> && <%= entityInstancePlural %>.length > 0) {
                <div class="text-muted">
                    <fa-icon icon="check-circle" class="me-2"></fa-icon>
                    <span>__jhiTranslateTag__('<%- i18nKeyPrefix %>.home.endOfList')</span>
                </div>
            }
        </div>
<%_ } _%>
    </div>
}
<%_ if (paginationPagination) { _%>
@if (<%= entityInstancePlural %> && <%= entityInstancePlural %>.length > 0) {
    <div>
        <div class="d-flex justify-content-center">
            <<%= jhiPrefixDashed %>-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></<%= jhiPrefixDashed %>-item-count>
        </div>

        <div class="d-flex justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [page]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="navigateToPage($event)"></ngb-pagination>
        </div>
    </div>
}
<%_ } _%>
</div>
